@import './reset.css';
@import './variables.css';
@import './element-overrides.css';
@import './custom-components.css';

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #app { height: 100%; width: 100%; }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #d0d0d0; border-radius: 10px; transition: background 0.3s; }
::-webkit-scrollbar-thumb:hover { background: #b0b0b0; }
